@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$fira-sans: "Fira Sans", sans-serif;
$dark: #4c5270;
$main: #36eee0;
$light: #bcece0;
$action: #f652a0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fira-sans;
}

body {
  background: $dark;
  text-align: center;
  color: whitesmoke;
}

button {
  height: 2rem;
  width: 4rem;
  border-radius: 9999em;
  background: $main;
  font-size: 1rem;
  color: white;
}

.create {
  height: 3rem;
  width: 13rem;
  border-radius: 9999em;
  background: $action;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.dashTitle {
  margin-bottom: 1rem;
}

nav {
  height: 6rem;
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0 auto;
  }
}

.layout {
  display: flex;
  flex-direction: column;
}

.modal {
  // position: fixed;
  // height: 100vh;
  // width: 100vw;
  // background: $dark;

  .main {
    position: fixed;
    background: $light;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    padding: 1rem;

    .logtitle {
      color: $dark;
      // padding: 1rem;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }

  button {
    height: 2rem;
    width: 5rem;
    border-radius: 9999em;
    margin: 0.25rem;
    background: $action;
    color: whitesmoke;
  }

  input {
    height: 3rem;
    font-size: 1rem;
    margin: 0.2rem;
  }

  .closebutton {
    background: $main;
    color: black;
  }
}

.splashButtons {
  button {
    height: 2rem;
    width: 5rem;
    border-radius: 9999em;
    margin: 1rem;
    background: $action;
  }

  .signbutton {
    color: white;
  }

  .logbutton {
    background: $main;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 3rem;
    text-decoration: underline;
  }

  .submit {
    position: relative;
    top: 1rem;
    background: $action;
    width: 50%;
  }

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 85%;
    margin: 0.5rem 0;
  }

  h4 {
    text-decoration: underline;
    font-size: 1.5rem;
    color: $light;
  }

  h5 {
    font-size: 1.5rem;
    color: $main;
  }
}

.wizLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;

  .home {
    width: 100%;
    background: $action;
    border-radius: 0;
    font-size: 2rem;
    padding: 0.5rem;
    height: 3rem;
    cursor: pointer;
  }

  .navigation {
    button {
      background: $action;
      margin: 2rem;
      height: 2rem;
      width: 5rem;
    }
  }

  input {
    height: 2rem;
    width: 70%;
    font-size: 1.5rem;
  }
}

.choices {
  h3 {
    font-size: 2.5rem;
  }

  button {
    height: 3rem;
    width: 5rem;
    margin: 0.5rem;
  }
}

.mychars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    height: 2rem;
    width: 70%;
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
  }

  .grid {
    border: 3px solid whitesmoke;
    width: 90%;
    height: 45vh;
    overflow-y: auto;
  }

  .chars {
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;

    .view {
      height: 1.5rem;
      width: 3rem;
    }
  }
}

.editview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $action;
    text-decoration: underline overline dotted $dark;
    font-size: 3rem;
    width: 100%;
  }

  h4 {
    color: $dark;
    text-decoration: underline;
    font-size: 1.1rem;
  }

  h5 {
    color: $action;
    font-size: 1.1rem;
    font-weight: bold;
  }
  span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }

  .update {
    width: 80%;
    margin: 1rem 0;
    button {
      height: 2rem;
      width: 4rem;
    }
  }
}
